<h1>グループ名: 【<%= @group.key %>】Time Line</h1>


<% unless current_user.name %>
  <%= link_to "アカウント設定", edit_user_path(current_user) %>
<% else %>
  <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
  <li><%= link_to "マイページ", user_path(current_user) %></li>


  <br>

  <%= form_for(@chat) do |f| %>
    <%= f.text_field :text %>
    <%= f.submit "送信" %>
  <% end %>

  <% @chats.each do |chat| %>
    <% if chat.user_id == current_user.id %>
      <div class="myComment">
        <p><%= chat.user.name %><%= chat.text %></p>
      </div>
    <% else %>
      <div>
        <p><%= chat.user.name %><%= chat.text %></p>
      </div>
    <% end %>
  <% end %>
<% end %>
